.about-section {
  background-color: #f9e7df;
  min-height: 30vh;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section h2 {
  font-size: 3rem;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 1.5rem;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  /* max-width: 700px; */
  margin-bottom: 2rem;
}

.about-content {
  /* text-align: center; */
  /* max-width: 700px; */
  padding: 2rem;
}

.cv-download {
  background-color: #2b1b14;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cv-download:hover {
  background-color: #452e24;
}
