.aboutMePage {
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 15%;
    overflow: hidden;
}

.aboutMe{

    width: 90%;
    /* aspect-ratio: 1/1; */
    border-radius: 2rem;
    /* background: linear-gradient(-45deg, transparent, var(--color-primary), transparent); */
    /* display: grid; */
    /* place-items: center; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    float: left;
    margin-left: 5%;
}

.aboutMe-Image {

    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
}

.about_cards{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    overflow: hidden;
}

.about_card{
    
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .6rem;
    text-align: center;
    justify-content: center;
    transition: var(--transition);
}

.about_card:hover{

    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.about_card h5{

    font-size: 1rem;
}

.about_card small{

    font-size: .7rem;
    color: var(--color-light);
}

.about_icon{

    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_content p{

    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}


/* Media queries for medium devices(Tablets) */
@media screen and (max-width: 1024px) {

    .AboutMePage{

        grid-template-columns: 1fr;
        gap: 0;
    }

    .aboutMeImage{

        width: 50%;
        margin: 2rem auto 4rem;
    }

    .aboutMeInformation p{

        margin: 1rem 0 1.5rem;
    }

}


/* Media queries for small devices(Mobiles) */
@media screen and (max-width: 600px) {

    .AboutMePage{

        width: 65%;
        margin: 0 auto 3rem;
    }

    .about_cards{

        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .aboutIcon{

        color: var(--color-primary);
        font-size: 1.4rem;
        margin-bottom: 1rem;
        justify-content: center;
        fill: "currentColor"; 
        stroke-width: "0";
        /* viewBox: "0 0 512 512"; */
        height: 1em; 
        width: 1em;
    }

    .aboutMeInformation{

        text-align: center;
    }

    .aboutMeInformation p{

        margin: 1.5rem 0;
    }
}