.download-button {
  background-color: #2b1b14;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #452e24;
  color: white;
}
